<a href="https://colab.research.google.com/github/amit2020cs/Communicate-Data-Finding/blob/master/exploration_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Communicate Data Finding
## by (Amit Kumar Singh)


# Introduction
Ford GoBike is the Bay Area's bike share system. Bay Area Bike Share was introduced in 2013 as a pilot program for the region, with 700 bikes and 70 stations across San Francisco and San Jose. Once expansion is complete, Ford GoBike will grow to 7,000 bikes across San Francisco, the East Bay and San Jose.

## Preliminary Wranging

In [0]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import datetime

%matplotlib inline

In [3]:
!wget 'https://s3.amazonaws.com/baywheels-data/2017-fordgobike-tripdata.csv'

--2019-10-29 08:17:48--  https://s3.amazonaws.com/baywheels-data/2017-fordgobike-tripdata.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.133.117
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.133.117|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 117958114 (112M) [text/csv]
Saving to: ‘2017-fordgobike-tripdata.csv.1’

2017-fordgobike-tri 100%[===================>] 112.49M  71.9MB/s    in 1.6s

2019-10-29 08:17:50 (71.9 MB/s) - ‘2017-fordgobike-tripdata.csv.1’ saved [117958114/117958114]

In [0]:
df = pd.read_csv('2017-fordgobike-tripdata.csv')

In [5]:
df.head()

   duration_sec                start_time  ... member_birth_year  member_gender
0         80110  2017-12-31 16:57:39.6540  ...            1987.0           Male
1         78800  2017-12-31 15:56:34.8420  ...            1965.0         Female
2         45768  2017-12-31 22:45:48.4110  ...               NaN            NaN
3         62172  2017-12-31 17:31:10.6360  ...               NaN            NaN
4         43603  2017-12-31 14:23:14.0010  ...            1997.0         Female

[5 rows x 15 columns]

In [6]:
df.shape

(519700, 15)

In [7]:
df.describe()

        duration_sec  start_station_id  ...        bike_id  member_birth_year
count  519700.000000     519700.000000  ...  519700.000000      453159.000000
mean     1099.009521         95.034245  ...    1672.533079        1980.404787
std      3444.146451         86.083078  ...     971.356959          10.513488
min        61.000000          3.000000  ...      10.000000        1886.000000
25%       382.000000         24.000000  ...     787.000000        1974.000000
50%       596.000000         67.000000  ...    1728.500000        1983.000000
75%       938.000000        139.000000  ...    2520.000000        1988.000000
max     86369.000000        340.000000  ...    3733.000000        1999.000000

[8 rows x 9 columns]

In [8]:
df.sample(10)

        duration_sec                start_time  ... member_birth_year  member_gender
498838          1672  2017-07-17 19:43:01.8300  ...            1990.0           Male
439135           801  2017-08-15 08:23:36.2870  ...            1974.0           Male
419541           504  2017-08-22 09:51:56.5600  ...            1977.0           Male
303120           161  2017-09-27 16:27:47.2510  ...            1981.0           Male
333739           629  2017-09-18 20:55:39.0310  ...            1961.0           Male
333812           168  2017-09-18 20:25:21.9430  ...            1989.0           Male
241204           891  2017-10-15 16:14:41.6480  ...            1991.0           Male
467142           275  2017-08-03 11:44:54.0510  ...            1981.0           Male
57794            236  2017-12-08 19:14:55.9520  ...            1981.0           Male
146326           512  2017-11-10 17:11:28.3500  ...            1961.0           Male

[10 rows x 15 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null object
end_time                   519700 non-null object
start_station_id           519700 non-null int64
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null int64
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null int64
user_type                  519700 non-null object
member_birth_year          453159 non-null float64
member_gender              453238 non-null object
dtypes: float64(5), int64(4), object(6)
memory usage: 59.5+ MB

## Data Cleaning

In [0]:
df_clean = df.copy()

Missing

In [0]:
# Change the format 
df_clean.start_time = pd.to_datetime(df_clean.start_time)
df_clean.end_time = pd.to_datetime(df_clean.end_time)

In [0]:
df_clean.user_type = df_clean.user_type.astype('category')
df_clean.member_gender = df_clean.member_gender.astype('category')

In [0]:

def change_to_string(df,fields):
    for field in fields:
        df[field] = df[field].astype(np.object)
    return df

In [0]:
df_clean = change_to_string (df_clean,['start_station_id', 'end_station_id','bike_id'])

In [15]:
df_clean.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null datetime64[ns]
end_time                   519700 non-null datetime64[ns]
start_station_id           519700 non-null object
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null object
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null object
user_type                  519700 non-null category
member_birth_year          453159 non-null float64
member_gender              453238 non-null category
dtypes: category(2), datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 52.5+ MB

In [0]:
# Member age
df_clean['member_age'] = 2019 - df_clean['member_birth_year']

In [17]:
df_clean.head()

   duration_sec              start_time  ... member_gender member_age
0         80110 2017-12-31 16:57:39.654  ...          Male       32.0
1         78800 2017-12-31 15:56:34.842  ...        Female       54.0
2         45768 2017-12-31 22:45:48.411  ...           NaN        NaN
3         62172 2017-12-31 17:31:10.636  ...           NaN        NaN
4         43603 2017-12-31 14:23:14.001  ...        Female       22.0

[5 rows x 16 columns]

In [18]:
#Member average age
df_clean.member_age.mean()

38.595212717831934

In [19]:
df_clean.member_age.describe()

count    453159.000000
mean         38.595213
std          10.513488
min          20.000000
25%          31.000000
50%          36.000000
75%          45.000000
max         133.000000
Name: member_age, dtype: float64

In [20]:
df_clean.sample(5)

        duration_sec              start_time  ... member_gender member_age
496846           459 2017-07-19 06:48:18.155  ...          Male       50.0
74347            447 2017-12-04 23:45:30.668  ...          Male       26.0
55956            143 2017-12-09 16:14:21.191  ...          Male       45.0
297533           179 2017-09-28 19:58:20.426  ...          Male       35.0
168857          2583 2017-11-04 14:31:53.654  ...           NaN        NaN

[5 rows x 16 columns]

## Calculate the distance between two point

In [0]:
# Distance calculated using the https://stackoverflow.com/questions/27928/calculate-distance-between-two-latitude-longitude-points-haversine-formula.
import math
from math import radians, sin, cos, acos

def distance(origin, destination):

    lat1, long1 = origin
    lat2, long2 = destination
    radius = 6371
    # this is in kilometers - will convert to US units of miles after

    dlat = math.radians(lat2 - lat1)
    dlong = math.radians(long2 - long1)
    
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) + math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) * math.sin(dlong / 2) * math.sin(dlong / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = radius * c

    return d

In [0]:
# Using the calcuated math on our columns for lat and long
df_clean['distance_km'] = df_clean.apply(lambda x: distance((x['start_station_latitude'], x['start_station_longitude']), (x['end_station_latitude'], x['end_station_longitude'])), axis=1)

In [23]:
df_clean.sample(5)

        duration_sec              start_time  ... member_age distance_km
372328           729 2017-09-07 08:39:36.037  ...       46.0    1.560288
126190           704 2017-11-17 08:30:00.268  ...       37.0    2.082630
254666           389 2017-10-11 09:17:19.254  ...       30.0    1.414753
197130           609 2017-10-27 10:17:42.991  ...       27.0    2.032326
351791           270 2017-09-13 13:08:49.945  ...       26.0    1.130166

[5 rows x 17 columns]

### Save the cleaned data set to a new file

In [0]:
df_clean.to_csv('fordgo_master_clean.csv', index = False)

### What is the structure of your dataset?

Trip Duration (seconds)  
Start Time and Date  
End Time and Date  
Start Station ID  
Start Station Name   
Start Station Latitude   
Start Station Longitude   
End Station ID   
End Station Name   
End Station Latitude    
End Station Longitude   
Bike ID     
User Type (Subscriber or Customer – “Subscriber” = Member or “Customer” = Casual)     
Member Year of Birth    
Member Gender   
Member age
Distance(km)

### What is/are the main feature(s) of interest in your dataset
User Type   
Member Gender

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

Start Station Latitude      
Start Station Longitude    
End Station Latitude       
End Station Longitude

## Univariate Exploration

In [0]:
# Monthly usage of the Ford Go Bike system
graph = sb.catplot(data = df_clean, x = 'start_time', kind = 'count', color = no_color, aspect = 1.7);

In [0]:
graph.set_axis_labels('Month', 'Number of Bike Trips'),
graph.fig.suptitle('Ford GoBike Usage by Month', y = 1.05, fontsize = 16, fontweight = 'bold');

In [0]:
graph.set_xticklabels(rotation=75)

In [0]:
bin_edges = 10 ** np.arange(1.785330, 4.936358 + 0.1, 0.1)
ticks = [30,100,300,1000,3000,10000,30000,100000]
labls = ['{}'.format(v) for v in ticks]
plt.hist(data = df_clean, x ='duration_sec', bins = bin_edges);
plt.xscale("log");
plt.xticks(ticks,labls);

In [0]:

# Age group data
bin_edges = np.arange(0, 68, 5)

plt.hist(data = df_cleaned, x = 'member_age', bins = bin_edges);

plt.title("Ford GoBike System User by Age", y=1.05, fontsize=16, fontweight='bold')
plt.xlabel('Age of Members (Years)')
plt.ylabel('Number of Bike Trips');

In [0]:
# Usage by females, males, and other
gender = df_clean.member_gender.value_counts()
gender

In [0]:
plt.pie(gender, labels = gender.index, startangle = 90, autopct= '%1.1f%%', counterclock = False, textprops={'color':'white'});
#plt.axis('square');
plt.title('Ford GoBike System User by Gender', y=1.05, fontsize=16, fontweight='bold', color = 'white');

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?
In Univariate Exploration only a single variable is used to find the insight and compare to other.The more number of male gender using the bike. And most travel time by male gender is between 0-500. 

### Of the features you investigated, were there any unusual distributions?
>No, Not any unusual distributions present.

## Bivariate Exploration

In [0]:
# Customers vs Subscribers
customer = df_clean.query('user_type == "Customer"')['bike_id'].count()
subscriber = df_clean.query('user_type == "Subscriber"')['bike_id'].count()
customer_prop = customer / df_clean['bike_id'].count()
subscriber_prop = subscriber / df_clean['bike_id'].count()

In [0]:
# Customers vs Subscribers Visuals
# pie chart
plt.figure(figsize = [8, 5])

labels = ['Customer', 'Subscriber']
size = [customer_prop, subscriber_prop]
explode = (0, 0.3)

plt.pie(size, explode=explode, labels = labels, autopct='%1.1f%%', shadow=True, startangle=90, textprops={'color':'white'})
plt.axis('equal')

plt.suptitle('Ford GoBike System - Customers vs. Subscribers', y=1.05, fontsize=16, fontweight='bold');

In [0]:

# Customers vs Subscribers Visuals
# bar chart
plt.figure(figsize = [10, 5])

graph = sb.countplot(data = df_clean ,x = "user_type", order = df_clean.user_type.value_counts().index);
graph.set_xlabel('User Type');
graph.set_ylabel('Number of Bike Trips');
plt.suptitle('Ford GoBike System - Customers vs. Subscribers', y=1.05, fontsize=16, fontweight='bold');

In [0]:
# Customer Usage by Month vs. Subscriber Usage by Month
#plt.figure(figsize = [12, 5])-color
graph = sb.catplot(data=df_clean, x='start_time_month', col="user_type", kind='count', sharey = True, color =no_color );

graph.set_axis_labels("Month", "Number of Bike Trips");
graph.set_titles("{col_name}");

graph.fig.suptitle('Ford GoBike System - Customers vs. Subscribers', y=1.05, fontsize=16, fontweight='bold');
graph.set_xticklabels(rotation=75);

In [0]:
# Customer Usage by Weekday vs. Subscriber Usage by Weekday
plt.figure(figsize=(12, 5))

df_cleaned_user_week = df_clean.groupby(['start_time_weekday', 'user_type']).size().reset_index()
weekday = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

ax = sb.pointplot(data=df_clean, x='start_time_weekday', y=0, hue = 'user_type', scale=.7, order = weekday);

plt.title('Ford GoBike System Trends by User Type', y=1.05, fontsize=16, fontweight='bold')
plt.xlabel('Weekdays')
plt.ylabel('Number of Bike Trips');
plt.grid()

## Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

In Bivariate exploration, we use two variables to compare and visualize the data, in which we can easily get the maximum and average of the dataset.

## Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

Yes, Subscriber uses more bike ride than customer but customer travel more distance and take longer time.

## Multivariate Exploration


### 2-d bar chart member_gender vs user_type vs duration_sec

In [0]:

cat_means = df.groupby(['member_gender', 'user_type']).mean()['duration_sec']
cat_means = cat_means.reset_index(name = 'duration_sec_avg')
cat_means = cat_means.pivot(index = 'user_type', columns = 'member_gender',
                            values = 'duration_sec_avg')
sb.heatmap(cat_means, annot = True, fmt = '.3f',
           cbar_kws = {'label' : 'mean(duration_sec_avg)'});

In [0]:
cat_means = df_clean.groupby(['member_gender', 'user_type']).mean()['member_age']
cat_means = cat_means.reset_index(name = 'member_age')
cat_means = cat_means.pivot(index = 'user_type', columns = 'member_gender',
                            values = 'member_age')
sb.heatmap(cat_means, annot = True, fmt = '.3f',
           cbar_kws = {'label' : 'mean(member_age)'});

In [0]:
g = sb.FacetGrid(data = df_clean, col = 'member_gender', height = 3);
g.map(hist2dgrid,'member_age', 'duration_sec', color = 'inferno_r');
g.set_xlabels('Member Age');
g.set_ylabels('duration_sec');

plt.show()

In [0]:

fig = plt.figure(figsize = [8,6])
ax = sb.pointplot(data = age_below_forty, x = 'start_time_dayofweek', y = 'duration_sec', hue = 'user_type',
           palette = 'Purples', linestyles = '', dodge = 0.3);
plt.title('Biking durations for bikers who are younger than 40 years old across dayofweek and user type');
plt.ylabel('Mean Duration (sec)')
plt.yscale('log');
plt.yticks([1, 2, 5, 10, 20, 50, 100], [1, 2, 5, 10, 20, 50, 100]);
ax.set_yticklabels([],minor = True);


### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interests?

We plot member, gender, member's age. The age group of people belongs to 25 to 40 and male traveller is more than female and other traveller.

# Summary

Most of the riders are male subscribers. most members are of age around 25 to 40 years old. Though not a huge difference, male riders tend to have shorter trips compared to female users. Riders who rented the bikes from Monday to Friday are older than those who ride on weekends.